@import "clash-grotesk.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
  --background: 290 50% 20%; /* dark purple-ish pink */
  --foreground: 290 30% 95%; /* light text for contrast */

  --card: 290 50% 20%;
  --card-foreground: 290 30% 95%;

  --popover: 290 50% 20%;
  --popover-foreground: 290 30% 95%;

  --primary: 320 80% 70%; /* pinkish accent */
  --primary-foreground: 0 0% 0%;

  --secondary: 270 60% 70%; /* purple accent */
  --secondary-foreground: 0 0% 0%;

  --muted: 280 30% 25%;
  --muted-foreground: 290 25% 85%;

  --accent: 300 50% 50%;
  --accent-foreground: 290 30% 95%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;

  --border: 280 30% 25%;
  --input: 280 30% 25%;
  --ring: 290 25% 80%;

  --radius: 0.5rem;
}
}

/* global elements */
@layer base {
  html[data-scroll-orientation="horizontal"] {
    body {
      @apply w-fit;
    }
    [data-scroll-container] {
      @apply flex;
    }
  }
  * {
    @apply border-border;
  }
  html {
    @apply antialiased;
  }
  body {
    @apply bg-background text-foreground cursor-wait;
  }
  section {
    scroll-margin-top: 60px;
  }
}

/* custom scrollbar */
@layer base {
  ::-webkit-scrollbar {
    @apply h-2.5 w-2 transition;
  }
  ::-webkit-scrollbar-track {
    @apply bg-background;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-muted;
  }
  ::-webkit-scrollbar-thumb:active {
    @apply bg-primary;
  }
}

/* custom styles */
@layer base {
  .clash-grotesk {
    font-family: "ClashGrotesk-Variable", sans-serif;
  }
  .text-gradient {
    @apply bg-gradient-to-br from-primary to-secondary bg-clip-text text-transparent;
  }
  .nav-active {
    color: rgb(226 232 240) !important;
    @apply text-sm lowercase tracking-tight text-slate-200;
  }
  .nav-link {
    /* Remove the styles from nav-link class */
    @apply text-sm lowercase tracking-tight text-slate-400;
  }

  /* blinking animation */
  @keyframes blink {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  .animate-blink {
    animation: blink 1s infinite;
  }
}