/* hero */
.intro {
  @apply flex flex-col items-start space-y-4 w-full;
}

.pill {
  @apply transition border border-input bg-background flex items-center text-xs px-2.5 py-1.5 rounded-full duration-300;
  color: hsl(25 80% 75%); /* peach text */
}

.pill:hover {
  background: linear-gradient(
    135deg,
    hsl(32 100% 55%),
    hsl(330 85% 65%),
    hsl(25 100% 75%)
  ); /* pink gradient */
  color: white;
  transform: translateY(-4px);
  transition: all 0.3s ease; /* optional: smooth hover */
}

.intro h1 {
  @apply pt-2 leading-tight;
}

/* scroll down */
.scroll {
  @apply transition duration-300 absolute bottom-6 left-1/2 mb-8 hidden -translate-x-1/2 transform-gpu flex-col items-center text-sm xl:flex tracking-tight;
  color: hsl(25 80% 75%); /* peach */
}

.scroll--hidden {
  @apply opacity-0 transition duration-300;
}

/* projects */
.project-card {
  @apply p-14 rounded-md;
  background: linear-gradient(
    135deg,
    rgba(255, 77, 166, 0.08),
    rgba(255, 138, 0, 0.08)
  );
  border: 1px solid hsl(20 25% 25%);
}

/* spline canvas */
#canvas-container {
  @apply bg-background border rounded-3xl h-[515px] xl:w-[690px] xl:min-w-[690px] overflow-hidden;

  border-color: hsl(20 25% 25%);

  /* fixes overflow:hidden in Chrome/Opera */
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}